@{
    Layout = "_Layout";
}

<h2>Account management</h2>

@if (User.Identity.IsAuthenticated)
{
    <p>Hello, @User.Identity.Name</p>
    @using(Html.BeginForm()){
        <input type="submit", value="Logout" />
    }
} 

else{
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
}

@Html.ActionLink("Home", "Index", "Home")