@{
  Layout = "_Layout";
}

<div class="text-center">
  <h1>Welcome to Pierre's Bakery</h1>

  @Html.ActionLink("Create or manage account", "Index", "Account")<br>
  @Html.ActionLink("List of treats", "Index", "Treats")<br>
  @Html.ActionLink("List of flavors", "Index", "Flavors")
</div>

