@{
    Layout = "_Layout";
}

@model PierresTreats.Models.Flavor;

@using (Html.BeginForm()){
    @Html.HiddenFor(m=>m.FlavorId)

    @if(ViewBag.TreatId != null && ((IEnumerable<SelectListItem>)ViewBag.TreatId).Any()){
        @Html.Label("Select treat")
        @Html.DropDownList("TreatId", ViewBag.TreatId as IEnumerable<SelectListItem>)
        <input type="submit" value="Save"/>
    }

    else{
        <p>There are no treats available</p>
    }
}

<p>@Html.ActionLink("Back to list", "Index")</p>